<div class="garanty-block garanty-bitches">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'garanty.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Что такое индивидуальный пошив?</h3>

		<p>Индивидуальный пошив — это услуга (договоренность между производителем и потребителем о совершении деятельности по заказу потребителя).
		</p>

		<p>Договором на оказание услуги по умолчанию считается переписка с менеджером (даже если вы делаете заказ в шоуруме, мастер пришлет вам полный итог заказа).</p>
	</div>
</div>



<div class="garanty-block garanty-points">
	<h3 data-aos="fade-up">Гарантия и сервис</h3>
	<p data-aos="fade-up">Мы заинтересованы в том, чтобы вещь долго служила и сохраняла должный вид, радуя владельца.</p>
	<div class="points-wrapper number-points-wrapper">
		<div class="point number-point" data-aos="fade-up" data-aos-delay="200">
			<div class="point-img">30 дней</div>
			<p>для выявления недостатков и дефектов</p>
		</div>
		<div class="point number-point" data-aos="fade-up" data-aos-delay="400">
			<div class="point-img">1 год</div>
			<p>срок гарантии</p>
		</div>
		<div class="point number-point" data-aos="fade-up" data-aos-delay="400">
			<div class="point-img infinity">
				<%= image_tag 'infinity.png' %>
			</div>
			<p>сервисное обслуживание</p>
		</div>
	</div>
</div>

<div class="garanty-block garanty-points">
	<h3 data-aos="fade-up" data-aos="fade-up">Гарантия не распространяется:</h3>
	<div class="points-wrapper">
		<div class="point" data-aos="fade-up">
			<div class="point-img"><%= image_tag 'fu.png' %></div>
			<p>На шнурки и подошвы, а также на материалы и комплектующие, износ которых зависит от характера эксплуатации владельца (молнии, полировка кожи, задники).</p>
		</div>
		<div class="point" data-aos="fade-up">
			<div class="point-img"><%= image_tag 'mod.png' %></div>
			<p>На товары, в которые было совершено стороннее вмешательство, кастомизация (обточка подошвы, дополнительные строчки, расклейки, подклейки и т.д.)</p>
		</div>
		<div class="point" data-aos="fade-up">
			<div class="point-img"><%= image_tag 'bad.png' %></div>
			<p>При использовании в влажной или химически активной среде без чистки и просушки, отсутствии своевременного ухода или ухода химией, которая для этого не предназначена.</p>
		</div>
	</div>
</div>


<div class="garanty-block">
	<div class="button-wrapper" data-aos="fade-up">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
		    Почему подошва не входит в гарантию?
		</button>
	</div>
	<div class="collapse" id="collapse1">
	  	<div class="card card-body">
	    	<p>Ее износ зависит от владельца. Однако, любые отклейки подошвы являются гарантийным случаем (Если, конечно, не вызваны неправильной эксплуатацией)</p>
		</div>
	</div>
	<div class="button-wrapper" data-aos="fade-up">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
		    Чем гарантия отличается от сервиса?
		</button>
	</div>
	<div class="collapse" id="collapse2">
	  <div class="card card-body">
	    <p>Если отклеился каблук — это гарантийный случай. Проблема будет бесплатно устранена.</p>
		<p>Если подошву погрызла любимая собака, то это повреждение при эксплуатации, и мы готовы заменить подошву новой за небольшую плату, которая включает её стоимость, а также работу  мастера.</p>
		<p>Если нет возможности выслать нам пару, то мы оплатим любой гарантийный ремонт стоимостью до 500 рублей (гарантию по ремонту несет организация, которая осуществляла ремонт).</p>
		</div>
	</div>
	<div class="button-wrapper" data-aos="fade-up">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
		    Что дает сервис и как его использовать?
		</button>
	</div>
	<div class="collapse" id="collapse3">
	  	<div class="card card-body">
		    <p>Кроме возможности замены подошв, мы предоставляем огромное количество услуг: Восстановление цвета и фактуры кожи, замши, нубука, полировка, покраска, тонировка, и т. д.</p>
		    <p>Стоимость комплексного восстановления обуви составляет 500 рублей. По окончанию сезона мы рекомендуем направить изделие для полного обслуживания.Стоимость ремонтов зависит от характера повреждений и обсуждается индивидуально. </p>
			<p>Пара, которую вы отправляете на обслуживание или ремонт должна быть чистой, в противном случае, к стоимости услуги добавится 600 рублей.</p>
		</div>
  	</div>
</div>

<div class="garanty-block garanty-bitches">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'shark.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Если что-то пошло не так</h3>
		<p>При изготовлении на заказ, получение товара считается первой примеркой, после которой допускается возможность доработки изделия или изготовление заново, в более короткие сроки, чем в первый раз. Это не частый случай, и на практике составляет не более 3% заказов.</p>
		<div class="button-wrapper">
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Подробнее о переделке
			</button>
		</div>
		<div class="collapse" id="collapseExample">
		  <div class="card card-body">
		    <p>Для повторного изготовления потребуется заново снять мерки с ноги. Можно изменить детали заказа, или же заменить пошив приобретением готового товара, с возможностью доплаты в обе стороны.</p>
			<p>Если переделка выполняется из-за неправильно снятых мерок, то для запуска переделки заказа потребуется доплатить 2000 рублей. Сумма депозитная и возвращается после реализации пары.</p>
		  </div>
		</div>
	</div>
</div>
<div class="garanty-block garanty-bitches">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'carrot.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Обнаружен дефект</h3>
		<p>Если в течение 30 дней с момента получения заказа обнаружился скрытый дефект, мы отремонтируем за свой счет неисправные элементы. Если это невозможно, мы изготовим новый товар, выполненный в том же дизайне (на продукцию, поврежденную в результате износа или неправильного использования бесплатная гарантия не распространяется). Далее, в течении 350 дней, изделие принимается исключительно на гарантийный ремонт.</p>
		<p>Для подтверждения факта дефекта может потребоваться производственная экспертиза.</p>
	</div>
</div>

<div class="garanty-block garanty-bitches">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'time.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Нарушены сроки</h3>
		<p>При индивидуальном изготовлении мы не можем со 100% уверенностью гарантировать сроки изготовления. Сроки являются приблизительными и рассчитываются из загруженности производства и наличия материалов. При задержке срока исполнения заказа более чем на 1 месяц, предоставляется скидка 25% на заказ. Скидка рассчитывается и вычитается при доплате остатка.</p>
	</div>
</div>

<div class="garanty-block garanty-bitches">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'sad.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Не нравится вид изделия</h3>
		<p>При изготовлении обуви на заказ вы подтверждаете свои намерения, при оформлении договора, однако мы можем выставить изделие на продажу и вернуть сумму в полном объеме после продажи изделия.</p>
		<p>Возврат денежных средств осуществляется в течение 10 рабочих дней, с момента извещения о возврате. Срок зависит от банка получателя и от используемой платежной системы.</p>
		<p>Стоимость доставки не возвращается, так как она не является частью стоимости товаров и услуг.</p>
	</div>
</div>



<div class="garanty-block">
	<div data-aos="fade-up">
		<div class="garanty-img">
			<%= image_tag 'gifts.png' %>
		</div>
	</div>
	<div data-aos="fade-up">
		<h3>Программа лояльности</h3>
		<p>Мы благодарны каждому клиенту сделавшему заказ, вклад в развитие проекта. Поэтому с радостью предоставляем льготные условия постоянным клиентам:</p>
		<div class="poins-wrapper percents">
			<div class="point">
				<div class="point-img">+5%</div>
				<p>Отзыв о первом заказе на любом ресурсе</p>
			</div>
			<div class="point">
				<div class="point-img">+5%</div>
				<p>Каждый следующий заказ</p>
			</div>
			<div class="point">
				<div class="point-img">+5%</div>
				<p>Каждая приведенная подруга*</p>
			</div>
		</div>
		<p>Таким образом, можно накопить скидку 100%. После использования, скидка обнуляется и начинает «собираться» заново. </p>
		<p>*Подруге нужно будет сообщить номер заказа и ваши фио.</p>
		<p>Все скидки можно суммировать с проходящими акциями, если на странице предложения не указано обратное. Все скидки, которые у вас есть в BBR, действительны в WOMAN.
		</p>
	</div>	
</div>