<div class="choice-wrapper">
	<a href="#footer" class="choice order-in-room" data-aos="fade-right">
		<div class="choice-img-wrapper">
			<%= image_tag 'showroom-order.png'%>	
		</div>
		<h3>Заказ в шоуруме</h3>
		<p>Только для Москвы и Петербурга. Вы вживую увидите модели, а менеджеры сами снимут мерки. </p>
	</a>
	<a href="#online-instruction" class="choice order-online" data-aos="fade-left">
		<div class="choice-img-wrapper">
			<%= image_tag 'online-order.png'%>	
		</div>
		<h3>Заказ онлайн</h3>
		<p>Простая инструкция по снятию мерок. Доставка по всему миру удобным для вас способом. </p>
	</a>
</div>

<ol class="steps-wrapper" id="online-instruction">
	<li class="step" data-aos="fade-up">
		<div class="step-img">
			<%= image_tag 'hug.png', class: 'hug-img' %>
		</div>
		<div class="step-info">
			<h3>Свяжитесь с нами</h3>
			<p>Обсудите интересующую модель и материалы с мастером, следуя инструкции и его советам снимите мерки с ноги.</p>	
			<div class="step-links">
				<a href="https://vk.com/woman" target="_blank">Вконтакте</a>
				<a href="https://www.facebook.com/woman/">Facebook</a>
				<a href="mailto:woman@outlook.com">woman@outlook.com</a>
			</div>
		</div>
	</li>
	<li class="step" data-aos="fade-up" data-aos="fade-up" data-aos-delay="200">
		<div class="step-img">
			<%= image_tag 'hug.png', class: 'hug-img' %>
		</div>
		<div class="step-info">
			<h3>Оформление заказа</h3>
			<p>После обсуждений составляется итог заказа, в котором подробно описаны все детали. Производится финальный расчет стоимости и вносится предоплата в размере 50% стоимости заказа. Заказу присваивается личный номер, начинается изготовление обуви.</p>	
		</div>
	</li>
	<li class="step" data-aos="fade-up">
		<div class="step-img">
			<%= image_tag 'hug.png', class: 'hug-img' %>
		</div>
		<div class="step-info">
			<h3>Получение обуви</h3>
			<p>Спустя 45 дней изготовления, вы получаете фото готовой обуви. Срок может увеличиться, если требуются сильные изменения в модели. После одобрения результата и внесения оставшихся 50%, мы высылаем вам пару.
			<br><br>
			После получения мы с нетерпением ждем ваших впечатлений от проделанной работы.
			</p>	
			<div class="step-links">
				<a href="https://vk.com/topic-181367812_39789553" target="_blank">Отзывы</a>
			</div>
		</div>
	</li>
</ol>