<div class="form-wrapper">

<%= form_for @product do |f| %>

<div>
<% if @product.errors.any? %>
	<h3>Есть ошибки:</h3>
	<% @product.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger"><%= msg %></div>
	<% end %>
<% end %>
</div>

<div class="form-block">
<%= f.label :name do %>
Название <br>
<small>(не больше 7 зн.)</small>
<% end %>
<%= f.text_field :name %>
</div>

<div class="form-block">
<%= f.label :brief do %>
Короткое описание <br>
<small>(не больше 250 зн.)</small>
<% end %>
	<div class="brief-field">
		<%= f.hidden_field :brief, id: :brief_description %>
		<trix-editor input="brief_description"></trix-editor>
	</div>
</div>

<div class="form-block">
<%= f.label :price do %>
Цена <br>
<small>(без пробелов)</small>
<% end %>
<%= f.text_field :price %>
</div>

<div class="form-block">
<%= f.label :new_price do %>
Новая цена <br>
<small>(без пробелов)</small>
<% end %>
<%= f.text_field :new_price %>
</div>

<div class="form-block">
<%= f.label :description %>
	<div class="description-field">
		<%= f.hidden_field :description, id: :product_description %>
		<trix-editor input="product_description"></trix-editor>
	</div>
</div>

<div class="form-block">
<%= f.label :kit do %>
Комплектация <br>
<small>(жирным выделяешь свойства)</small>
<% end %>
	<div class="kit-field">
		<%= f.hidden_field :kit, id: :product_kit %>
		<trix-editor input="product_kit"></trix-editor>
	</div>
</div>


   <div class="form-block">
		<%= f.label :cover do %>
		Обложка <br>
		<small>(вертикальная 4:5)</small>
		<% end %> 
		<%= f.file_field :cover, class: 'inputfile', id: 'cover' %>
		<label for="cover"><span>Добавить</span></label>
		<% if !@product.new_record? %>  
			<div class="edit-cover-wrapper">                      
		   		<%= image_tag(@product.card) %>
		   		текущая
		   	</div>
		<% end %>
	</div> 


 
<div class="form-block">
	<%= f.label :images do %>
	Доп. изображения <br>
	<small>(2 шт. вертикальные 4:5)</small>
	<% end %>
	<%= f.file_field :images, multiple: true, class: 'inputfile extraimages', id: 'images', "data-multiple-caption" => "{count} выбрано" %>
	<label for="images"><span>Добавить</span></label>
	<% if !@product.new_record? %> 
		<div class="edit-images-wrapper">
			<% @product.images.each do |image| %>
				<div class="edit-thumb">
					<%= image_tag(@product.thumb(image)) %>
					<%= link_to 'удалить', delete_image_attachment_product_url(image.id), method: :delete, class: "trash", remote: true, class: "delete" %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>  


<div class="form-block">
<%= f.label :videos do %>
Видео <br>
<small>(id через запятую, без пробелов)</small>
<% end %>
<%= f.text_field :videos %>
</div>

<div class="form-block save-wrapper">
<%= f.submit 'Сохранить' %>	
<%= link_to 'Отмена', products_path %>
</div>

<% end %> 

</div>

<script>

;( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 ) {
				if ( this.getAttribute('id') == 'images') {
					if( this.files.length > 2 ){ alert('Больше двух низя, а то взрыв.'); this.value = "" };
					if( $('.edit-thumb:visible').length == 1 && this.files.length > 1) { alert('Сначала удали лишнее изображение'); this.value = "" }
					if( $('.edit-thumb:visible').length == 2 && this.files.length > 1) { alert('Сначала удали лишнее изображение'); this.value = "" }
				}
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			}
			else {
				if ( this.getAttribute('id') == 'images') {
					if( $('.edit-thumb:visible').length == 2 && this.files.length > 0) { alert('Сначала удали лишние изображения'); this.value = "" }
				}
				fileName = e.target.value.split( '\\' ).pop();
			}

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));

</script>