<% title "Каталог" %>

<% if user_signed_in? %>

<div class="admin-buttons">
	<%= link_to 'Добавить модель', new_product_path, class: 'admin-button' %>
	<%= link_to 'Перемешать', changeorder_path, class: 'admin-button position-button' %>
</div>

<% end %>


	<section id="products" data-aos="fade-up">
		<% @products.each do |product| %>
			<%= link_to product_path(product), style: "display: block" do %>
				<div class="product-card">
					<div class="product-thumb">
						<%= image_tag(product.card) %>
					</div>
					<h3 class="product-name">
						<%= product.name %>
					</h3>
					<div class="product-price"><small>
						<%= "#{product.price}".reverse.gsub(/.{3}(?=.)/, '\0 ').reverse %> ₽
					</small>
					</div>
				</div>
			<% end %>                       
		<% end %>
	</section>