<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>WOMAN — <%= content_for?(:title) ? yield(:title) : 'Пошив женской обуви по вашим меркам' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='description'
      content="<%= content_for?(:meta_description) ? yield(:meta_description) : '' %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="8100fd7600412ec9" />
    <meta name="google-site-verification" content="tWTv1CphOMQT9Baf9VX-D3iu1b7LQ9qqsqflGVBG6Lw" />
    <meta property="og:title" content="Индивидуальный пошив женской обуви | WOMAN">
    <meta property="og:description" content="Пошив женской обуви по вашим меркам">
    <meta property="og:url" content="https://woman.bbrfactory.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?168",t.onload=function(){VK.Retargeting.Init("VK-RTRG-517205-4BMaC"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-517205-4BMaC" style="position:fixed; left:-999px;" alt=""/></noscript>
  </head>

  <body>
    <% if !current_page?(home_path) && !current_page?(root_path) %>
      <%= render 'header' %>
      <div class="main-wrapper">
        <%= yield %>
      </div>
        <%= render 'footer' unless @disable_footer %>  
    <% else %>
        <%= yield %>
        <%= render 'footer' %>
    <% end %>
    <script>

      // Navigation Slider

      function navSlide() {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.main-nav');
        const navLinks = document.querySelectorAll('.nav-part > li');

        burger.addEventListener('click', () => {
          nav.classList.toggle('nav-active');

          navLinks.forEach((link, index) => {
            if(link.style.animation) {
              link.style.animation = '';
            } else {
              link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
            }            
          });
          burger.classList.toggle('toggle');
        });  
      };

      navSlide();



    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        disable: 'mobile',
        duration: 1000
      });
    </script>
  </body>
</html>
